<div class="container ems-home-sub">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <h3>Lorem ipsum dolor sit amet</h3>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet.</p>
        </div>
    </div>
  </div>
  

    
  
  <section id="homedata">  
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h4>Lorem ipsum dolor sit amet consectetur adipiscing elit.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h4>Lorem ipsum dolor sit amet consectetur adipiscing elit.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue</p>
      </div>
    </div>
  </div>
  </section>
  
  <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h4>Lorem ipsum dolor sit amet consectetur adipiscing elit.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h4>Lorem ipsum dolor sit amet consectetur adipiscing elit.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue</p>
        </div>
      </div>
  </div>
