<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid hidden-sm hidden-xs">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="/assets/img/magnus-logo.png">
        
      </a>
      <span><i>magnus</i>EMS</span>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><p>{{userName}}<br>( {{userRoleName}} )</p></li>
      <li><a class="btn btn-warning btn-sm" href="/login">Sign Out</a></li>
    </ul>
  </div>
  <div class="container-fluid hidden-lg hidden-md">
    <div class="row mobile-header-row">
      <div class="col-sm-3 col-xs-3">
          <div class="navbar-header navbar-left">
              <a class="navbar-brand" href="#">
                <img alt="Brand" src="/assets/img/magnus-logo.png">
              </a>
            </div>
      </div>
      <div class="col-sm-6 col-xs-6 center-col">
              <p class="lead">{{userName}}</p>
      </div>
      <div class="col-sm-3 col-xs-3 right-col">
          <ul class="nav navbar-nav navbar-right">
              <li><a class="btn btn-warning btn-xs" href="/login">Sign Out</a></li>
          </ul>
      </div>
    </div>
  </div>
</nav>
<div class="row menu-row">
  <!-- Menu for larger devices, hide for other devices -->
  <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
      <div class="container-fluid menu-container main-lg-menu" [style.background-image]="'url('+getImageUrl()+')'">
        <div class="row">
          <ul class="nav nav-pills nav-stacked nav-sidebar"  >
            <li *ngFor="let menu of getLgMenu(); let curIndex=index;"
                (click)="setSelected(curIndex)"
                [ngClass]="{'menu-active': isActive(curIndex)}">
                    <a [routerLink]="goToLink(menu.action)">{{menu.caption}}
                      <span style="font-size:16px;" [ngClass]="setLgStyleClasses(curIndex)"></span>
                    </a>
              </li>          
          </ul>
        </div>
      </div>
  </div>
  <!-- Menu for medium devices, hide for other devices -->
  <div class="col-md-1 hidden-lg hidden-sm hidden-xs">
      <div class="container-fluid menu-container main-md-menu" [style.background-image]="'url('+getImageUrl()+')'">
        <div class="row">
          <ul class="nav nav-pills nav-stacked nav-sidebar-md">
            <li *ngFor="let menu of getMdMenu(); let curIndex=index;" 
              (click)="setSelected(curIndex)"
              [ngClass]="{'menu-active': isActive(curIndex)}">
                <a [routerLink]="goToLink(menu.action)">
                  <span style="font-size:16px;" [ngClass]="setMdStyleClasses(curIndex)"></span>
                </a>
            </li>
          </ul>
        </div>
      </div>
  </div>
  
  <!-- Menu for smaller devices, hide for other devices -->
  <div class="col-sm-12 col-xs-12 hidden-lg hidden-md">
      <div class="container-fluid menu-container main-sm-menu">
        <div class="row">
          <ul class="nav nav-pills nav-sidebar-sm">
            <li *ngFor="let menu of getSmMenu(); let curIndex=index;" 
            (click)="setSelected(curIndex)"
            [ngClass]="{'menu-sm-active': isActive(curIndex)}">
                <a [routerLink]="goToLink(menu.action)">
                    <span style="font-size:16px;" [ngClass]="setSmStyleClasses(curIndex)"></span>
                  </a>
              </li>
          </ul>
        </div>
      </div>
  </div>

  <div class="col-lg-10 col-md-11 col-sm-12 col-xs-12 main-content">
      <router-outlet name="subroute"></router-outlet>
  </div>
</div>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid ems-main-footer">
      <span class="ems-inc">© 2017 Magnus Innovators</span>
  </div>
</nav>
