
<div class= "ems-home-sub">
  <div class="row">
      <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet.</p>
      </div>
      <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
          <h3>Lorem ipsum dolor sit amet</h3>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet.</p>
      </div>
      <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
          <h3>Lorem ipsum dolor sit amet</h3>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet.</p>
      </div>
      <div class="col-sm-12 col-xs-12 hidden-lg hidden-md">
        <ul class="full-unlist">
            <li><span style="font-size:16px;" class="glyphicon glyphicon-ok-circle"></span>Lorem ipsum dolor sit amet</li>
            <li><span style="font-size:16px;" class="glyphicon glyphicon-ok-circle"></span>Lorem ipsum dolor sit amet</li>
            <li><span style="font-size:16px;" class="glyphicon glyphicon-ok-circle"></span>Lorem ipsum dolor sit amet</li>
        </ul>
      </div>
  </div>
</div>
<div class="scrollmain">
  <section>
    <div id="id1" class= "ems-home-sub dark-section">
      <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 ems-home-sub-img">
          <img src="/assets/img/home-sub-school.jpeg">
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ems-home-sub-txt">
          <div class="vertically-center-child">
            <p class="ems-home-sub-heading">Get parents and teachers connected</p>
            <hr style=" border: 1px solid #091f40; width: 75%;">
            <p class="ems-home-sub-lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue
            </p>
            <a class="btn btn-lg btn-primary-outline-blk" (click)="goToParentLink('school')">Learn more</a>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div id="id2" class="ems-home-sub">
        <div class="row">
          <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ems-home-sub-txt">
            <div class="vertically-center-child">
              <p class="ems-home-sub-heading">Get learning to your students everywhere</p>
              <hr style=" border: 1px solid #091f40; width: 75%;">
              <p class="ems-home-sub-lead">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue
              </p>
              <a class="btn btn-lg btn-primary-outline-blk" (click)="goToParentLink('students')">Learn more</a>
          </div>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 ems-home-sub-img">
            <img src="/assets/img/home-sub-students.jpg">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div id="id3" class="ems-home-sub dark-section">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 ems-home-sub-img">
            <img src="/assets/img/home-sub-teachers.jpg">
          </div>
          <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ems-home-sub-txt">
            <div class="vertically-center-child">
              <p class="ems-home-sub-heading">Get your teachers equipped with technology</p>
              <hr style=" border: 1px solid #091f40; width: 75%;">
              <p class="ems-home-sub-lead">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue
              </p>
              <a class="btn btn-lg btn-primary-outline-blk" (click)="goToParentLink('teachers')">Learn more</a>
          </div>
          </div>
        </div>
    </div>
  </section>
  <section>
    <div class="ems-home-sub">
          <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ems-home-sub-txt">
              <div class="vertically-center-child">
                <p class="ems-home-sub-heading">Get the parents to the classroom virtually</p>
                <hr style=" border: 1px solid #091f40; width: 75%;">
                <p class="ems-home-sub-lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue
                </p>
                <a class="btn btn-lg btn-primary-outline-blk" (click)="goToParentLink('parents')">Learn more</a>
            </div>
          </div>
          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 ems-home-sub-img">
              <img src="/assets/img/home-sub-parents.jpg">
          </div>
        </div>
    </div>
  </section>
  <section id="homedata">  
    <div class="ems-home-sub highlight-section">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h4>Lorem ipsum dolor sit amet consectetur adipiscing elit.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h4>Lorem ipsum dolor sit amet consectetur adipiscing elit.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue</p>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h4>Lorem ipsum dolor sit amet consectetur adipiscing elit.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <h4>Lorem ipsum dolor sit amet consectetur adipiscing elit.</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue</p>
          </div>
        </div>
    </div>
  </section>
</div>