
<div>
<header class="jumbotron">
    <div class="container">
  
      <nav id="nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
  
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/assets/img/magnus-logo.png"></a>
            <a class="navbar-brand" href="#"><span><i>magnus</i>EMS</span></a>
          </div>
  
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              </li>
              <li><a href="#">Home</a>
              </li>
              <li><a href="#services">Students</a>
              </li>
              <li><a href="#works">Teachers</a>
              </li>
              <li><a href="#about">Parents</a>
              </li>
              <li><a href="#contact">School</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about">Login</a></li>
                <li><button class="btn btn-warning btn-lg" href="#contact">Get Started</button></li>
            </ul>
          </div>
  
        </div>
      </nav>
  
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
      <p class="lead">Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae</p>
      <div class="btn btn-lg btn-default btn-primary-outline">Get started now</div>
    </div>
  </header>
</div>
<div class="container ems-home-sub">
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <h3>Lorem ipsum dolor sit amet</h3>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <h3>Lorem ipsum dolor sit amet</h3>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet.</p>
      </div>
  </div>
</div>

<div class="container ems-home-sub">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ems-home-sub-img">
      <img src="/assets/img/home-sub-school.jpeg">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ems-home-sub-txt">
      <div class="vertically-center-child">
        <h3>Get parents and teachers connected</h3>
        <hr style=" border: 1px solid #091f40; width: 75%;">
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue
        </p>
        <button class="btn btn-lg btn-primary-outline-blk">Learn more</button>
    </div>
    </div>
  </div>
</div>

<div class="container ems-home-sub">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ems-home-sub-txt">
        <div class="vertically-center-child">
          <h3>Get learning to your students everywhere</h3>
          <hr style=" border: 1px solid #091f40; width: 75%;">
          <p class="lead">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue
          </p>
          <button class="btn btn-lg btn-primary-outline-blk">Learn more</button>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ems-home-sub-img">
        <img src="/assets/img/home-sub-students.jpg">
    </div>
  </div>
</div>

<div class="container ems-home-sub">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ems-home-sub-img">
        <img src="/assets/img/home-sub-teachers.jpg">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ems-home-sub-txt">
        <div class="vertically-center-child">
          <h3>Get your teachers equipped with technology</h3>
          <hr style=" border: 1px solid #091f40; width: 75%;">
          <p class="lead">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue
          </p>
          <button class="btn btn-lg btn-primary-outline-blk">Learn more</button>
      </div>
      </div>
    </div>
</div>

<div class="container ems-home-sub">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ems-home-sub-txt">
          <div class="vertically-center-child">
            <h3>Get the parents to the classroom virtually</h3>
            <hr style=" border: 1px solid #091f40; width: 75%;">
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue
            </p>
            <button class="btn btn-lg btn-primary-outline-blk">Learn more</button>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ems-home-sub-img">
          <img src="/assets/img/home-sub-parents.jpg">
      </div>
    </div>
</div>
  

<section id="homedata">  
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h4>Lorem ipsum dolor sit amet consectetur adipiscing elit.</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h4>Lorem ipsum dolor sit amet consectetur adipiscing elit.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue</p>
    </div>
  </div>
</div>
</section>

<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h4>Lorem ipsum dolor sit amet consectetur adipiscing elit.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h4>Lorem ipsum dolor sit amet consectetur adipiscing elit.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue</p>
      </div>
    </div>
</div>

<footer>
  <div class="container ems-footer">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-5 col-xs-offset-1">

            <h6>ABOUT US</h6>
            <ul>
              <li><a href="#">Our Story</a></li>
              <li><a href="#">Success Stories</a></li>
              <li><a href="#">Case Studies</a></li>
            </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
              <div class="ems-footer-border-both">
                <h6>CONNECT WITH US</h6>
              </div>
              <ul>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Sales</a></li>
              </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
          <div class="ems-footer-border-both">
              <h6>RESOURCES</h6>
            </div>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Blogs</a></li>
            </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
          <div class="ems-footer-border-both">
              <h6>FOLLOW US</h6>
          </div>
          <div class="ems-footer-follow-list">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
              <a class="ems-footer-follow" href="https://twitter.com/magnus-innov" title="Twitter" target="_blank">
                <svg viewBox="0 0 20 16" xmlns="http://www.w3.org/2000/svg"><path d="M19.854 1.977c-.722.314-1.498.526-2.313.62.833-.487 1.47-1.26 1.77-2.182-.777.453-1.638.78-2.555.958-.735-.767-1.78-1.246-2.94-1.246-2.222 0-4.025 1.766-4.025 3.944 0 .31.035.61.104.9-3.346-.165-6.313-1.734-8.3-4.12-.346.58-.544 1.26-.544 1.982 0 1.37.71 2.576 1.79 3.283-.66-.02-1.28-.198-1.823-.494v.05c0 1.912 1.388 3.506 3.23 3.87-.338.088-.694.137-1.06.137-.26 0-.513-.025-.76-.07.514 1.566 2 2.706 3.762 2.738-1.378 1.058-3.114 1.69-5 1.69-.326 0-.646-.02-.96-.057 1.78 1.12 3.897 1.772 6.17 1.772 7.407 0 11.456-6.01 11.456-11.222 0-.17-.003-.34-.01-.51.785-.555 1.468-1.25 2.008-2.04z" fill="#FFF" fill-rule="evenodd"></path></svg>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <a class="ems-footer-follow" href="https://facebook.com/magnus-innov" title="FaceBook" target="_blank">
                <svg viewBox="0 0 9 16" xmlns="http://www.w3.org/2000/svg"><path d="M8.512 5.14h-2.73V3.508c0-.613.444-.756.758-.756h1.928V.054L5.813.043c-2.946 0-3.617 2.013-3.617 3.3V5.14H.492v2.78h1.704v7.865H5.78V7.92H8.2l.312-2.78z" fill="#FFF" fill-rule="evenodd"></path></svg>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <a class="ems-footer-follow" href="https://instagram.com/magnus-innov" title="Instagram" target="_blank">
                <svg viewBox="0 0 17 16" xmlns="http://www.w3.org/2000/svg"><path d="M13.308.26H3.293C1.553.26.138 1.61.138 3.267v9.543c0 1.658 1.415 3.006 3.155 3.006H13.31c1.738 0 3.153-1.348 3.153-3.006V3.267c0-1.658-1.415-3.005-3.155-3.005zm.905 1.793h.36v2.635l-2.757.008-.01-2.635 2.407-.007zM5.97 6.44C6.495 5.753 7.343 5.3 8.3 5.3c.96 0 1.808.452 2.33 1.14.34.45.544 1 .544 1.597 0 1.51-1.29 2.737-2.874 2.737S5.427 9.546 5.427 8.037c0-.596.203-1.146.544-1.596zm8.903 6.368c0 .822-.702 1.49-1.565 1.49H3.293c-.863 0-1.564-.668-1.564-1.49V6.44h2.435c-.21.494-.328 1.033-.328 1.597 0 2.344 2.002 4.253 4.464 4.253 2.462 0 4.464-1.91 4.464-4.253 0-.564-.118-1.103-.33-1.596h2.44v6.368z" fill="#FFF" fill-rule="evenodd"></path></svg>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <a class="ems-footer-follow" href="https://linkedin.com/magnus-innov" title="LinkedIn" target="_blank">
                <svg viewBox="0 0 17 16" xmlns="http://www.w3.org/2000/svg"><path d="M15.224.344H1.46C.803.344.27.84.27 1.454v13.265c0 .61.534 1.108 1.193 1.108h13.764c.66 0 1.194-.497 1.194-1.11V1.454c0-.612-.535-1.11-1.194-1.11zM5.164 13.306h-2.44v-6.99h2.44v6.99zM3.943 5.36h-.017C3.11 5.36 2.58 4.82 2.58 4.15c0-.686.545-1.208 1.38-1.208.834 0 1.347.522 1.364 1.208 0 .67-.53 1.207-1.38 1.207zm10.015 7.946h-2.44v-3.74c0-.94-.353-1.582-1.236-1.582-.673 0-1.075.432-1.252.85-.064.15-.08.358-.08.567v3.906h-2.44s.033-6.336 0-6.992h2.44v.99c.325-.476.904-1.155 2.2-1.155 1.604 0 2.807 1 2.807 3.147v4.01z" fill="#FFF" fill-rule="evenodd"></path></svg>
              </a>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                  <p class="ems-legal-text">
              <span class="ems-inc">© 2017 Magnus Innovators</span>
              <span class="ems-separator">|</span>
              <a href="/legalnotices/">Terms of Use &amp; Legal Notices</a>
              <span class="ems-separator">|</span>
              <a href="/legalnotices/privacypolicy/">Privacy</a>
              <span class="ems-separator">|</span>
              <a href="/legalnotices/ca/">Your CA Privacy Rights</a>
                  </p>
              </div>

    </div>
  </div>
</footer>